DJANGO_SETTINGS_MODULE=lunchclub.settings.prod
DATABASE_URL=mysql://lunchclub:hunter2@localhost/lunchclub
DJANGO_SECRET_KEY=generate with pwgen -s 50 1
LUNCHCLUB_SUBMISSION_KEY=generate with pwgen -s 50 1
