[Unit]
Description=Lunchclub keepalive
PartOf=daphne-lunchclub.service
Requires=daphne-lunchclub.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/apps/lunchclub
ExecStart=/var/www/apps/lunchclub/venv/bin/python keepalive.py

[Install]
WantedBy=multi-user.target
