[Unit]
Description=Lunchclub worker
PartOf=daphne-lunchclub.service
Requires=daphne-lunchclub.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/apps/lunchclub
ExecStart=/var/www/apps/lunchclub/venv/bin/python manage.py runworker
EnvironmentFile=/var/www/apps/lunchclub/env.txt

[Install]
WantedBy=multi-user.target
