[Unit]
Description=Update lunchclub calendar info

[Service]
User=rav
EnvironmentFile=/home/rav/codes/django-lunchclub/roomcalendar/pyexchange/env.txt
WorkingDirectory=/home/rav/codes/django-lunchclub/roomcalendar/pyexchange
ExecStart=/home/rav/codes/django-lunchclub/roomcalendar/pyexchange/.venv/bin/python update.py -erav@cs.au.dk -uau306325@uni.au.dk -penv:EWS_PASSWORD -c dummy
Restart=on-failure
RestartSec=5min

[Install]
WantedBy=multi-user.target
