{% extends "lunchclub/base.html" %}
{% block head %}
<style>
#accesstokentable > tbody > tr > th > input {
width: 5em;
}
#accesstokentable > tbody > tr > .link > input {
width: 5em;
}
</style>
{% endblock %}

{% block content %}
<h1>Lunchclub access tokens</h1>

{% if mailto_links %}
<p>Changes saved, but since the web server cannot send emails,
you must send them yourself:</p>
<ul>
    {% for l in mailto_links %}
    <li>{{ l }}</li>
    {% endfor %}
</ul>
{% elif success %}
<p>Changes saved!</p>
{% endif %}

{% if form.default_email_domain %}
<p>Hint: If you don't specify the domain name of the email address,
a default of <tt>@{{ form.default_email_domain }}</tt> will be assumed.</p>
{% endif %}

{{ form.errors }}

<form method="post">{% csrf_token %}

<table id="accesstokentable">
<thead>
<tr>
    <th>Person</th>
    <th>Display name</th>
    <th>Login URL</th>
    <th>Email</th>
    <th>Revoke</th>
    <th>Generate</th>
    <th>Send</th>
    <th>Hide</th>
</tr>
</thead>
<tbody>
{% for person, name, login_url, email, revoke, generate, send, hidden in form.rows %}
<tr>
    <th>{{ person }}</th>
    <th>{{ name }}</th>
    <td class="link"><input value="{{ login_url }}" onfocus="this.select()" /></td>
    <td>{{ email }}</td>
    <td>{{ revoke }}</td>
    <td>{{ generate }}</td>
    <td>{{ send }}</td>
    <td>{{ hidden }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<input type="submit" value="Save changes" />
</form>

{% endblock %}
