{% extends "lunchclub/base.html" %}
{% block content %}
<h1>Enter today's attendance</h1>
<form method="post">{% csrf_token %}
{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
<ul>
{% for person, already_checked, field in form.rows %}
    <li>
        <label>
        {% if already_checked %}
        <input type=checkbox checked disabled />
        {% else %}
        {{ field }}
        {% endif %}
        {{ person }}
        {% if person.rsvp %}
        ({{ person.rsvp.status }})
        {% endif %}
        </label>
    </li>
{% endfor %}
</ul>
<input type="submit" value="Save" />
</form>
{% endblock %}
