{% extends "lunchclub/base.html" %}
{% block content %}
<h1>Lunchclub</h1>

<p>Download
<a href="{% url 'attendance_export' %}">attenddb.txt</a>
or
<a href="{% url 'expense_export' %}">expensedb.txt</a>
in the Official Lunchclub Interchange Format (OLIF).</p>

<p>Attendance:</p>
<div style="width: 250px; height: 150px; overflow: auto; resize: both">
<table style="width: 100%">{% for a in attenddb reversed %}
<tr><td>{{ a.ymd }}<td>{{ a.creator }}<td>{{ a.uname }}{% endfor %}
</table>
</div>

<p>Expenses:</p>
<div style="width: 250px; height: 150px; overflow: auto; resize: both">
<table style="width: 100%">{% for a in expensedb reversed %}
<tr><td>{{ a.ymd }}<td>{{ a.amount }}<td>{{ a.uname }}{% endfor %}
</table>
</div>

{% endblock %}
