{% extends "lunchclub/base.html" %}
{% block head %}
<style>
.balance td { text-align: right; }

.nav-group {
list-style-type: none;
display: flex;
flex-direction: row;
padding: 0;
}
.nav-group li {
display: inline-block;
}
.nav-group li::before {
content: "\A0\2022\A0";
}
.nav-group li:first-child::before {
content: "";
}

@media screen and (max-width: 480px) {
    input[type=number] {
    height: 40px;
    }
    .nav-group {
    flex-direction: column;
    margin: 0;
    }
    .nav-group > *, .nav-group a {
    display: block;
    line-height: 40px;
    }
    .nav-group li {
    display: inline-block;
    }
    .nav-group li::before {
    content: "";
    }
    .balance {
    overflow-x: scroll;
    max-width: 100%;
    }
}

</style>

{% if user.is_authenticated %}
<script>

// From https://docs.djangoproject.com/en/1.11/ref/csrf/#ajax
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

var today_events = new EventSource('today/events/');

function set_today_message(q) {
    document.getElementById('today-message').textContent = q.msg;
}

function set_today_announcement(a) {
    document.getElementById('today-announcement').textContent = a ? a.body : '';
}

function get_today_options_container(kind) {
    var r = document.getElementById('today-' + kind);
    if (r) return r;
    var today_el = document.getElementById('today');
    r = document.createElement('ul');
    r.className = 'nav-group';
    r.id = 'today-' + kind;
    today_el.appendChild(r);
    return r;
}

function set_own_status(kind, key) {
    var xhr = new XMLHttpRequest;
    xhr.open('POST', 'today/update/', true);
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhr.send('csrfmiddlewaretoken=' + encodeURIComponent(csrftoken) +
             '&kind=' + encodeURIComponent(kind) +
             '&key=' + encodeURIComponent(key));
    xhr.onreadystatechange = function () {
        if (xhr.readyState !== 4) return;
        if (xhr.status === 200) return;
        console.log(xhr.statusText);
        console.log(xhr.responseText);
    };
}

function set_today_options(kind, options) {
    var container = get_today_options_container(kind);
    container.innerHTML = '';
    for (var i = 0; i < options.length; ++i) {
        var li = document.createElement('li');
        var anchor = document.createElement('a');
        anchor.href = 'javascript:void(0)';
        anchor.addEventListener(
            'click', set_own_status.bind(null, kind, options[i].key));
        anchor.textContent = options[i].label;
        li.appendChild(anchor);
        container.appendChild(li);
    }
}

function set_today_rsvps(rsvps) {
    var container = get_today_options_container('rsvps');
    container.innerHTML = '';
    for (var k in rsvps) {
        var li = document.createElement('li');
        li.textContent = k + ': ' + rsvps[k];
        container.appendChild(li);
    }
}

today_events.addEventListener('query', function (e) {
    var q = JSON.parse(e.data);
    console.log(q);
    set_today_message(q);
    set_today_announcement(q.announcement);
    set_today_options('rsvp_options', q.rsvp_options);
    set_today_options('announce', q.announce);
    set_today_rsvps(q.rsvps);
    Notification.requestPermission();
});

today_events.addEventListener('notification', function (e) {
    if (Notification.permission !== 'granted') return;
    var q = JSON.parse(e.data);
    var n = new Notification(q.title, {'body': q.body});
    set_today_announcement(q);
});

</script>
{% endif %}

{% endblock %}
{% block content %}

<h1>Lunchclub</h1>

{% if user.is_authenticated %}
<p>Welcome to the lunchclub, {{ user }}!
<span id="today-message"></span>
<span id="today-announcement"></span></p>

<div id="today"></div>

<ul class="nav-group">
<li><a href="{% url 'attendance_today' %}">Enter crosses for today</a></li>
<li><a href="{% url 'attendance_create' %}">Enter attendance for past month</a></li>
<li><a href="{% url 'shopping_list' %}">Shopping list</a></li>
</ul>

<ul class="nav-group">
<li><a href="{% url 'expense_create' %}">Enter someone else's expense</a></li>
<li><a href="{% url 'edit' %}">View database</a></li>
</ul>

<form class="expense-form" method="post" action="{% url 'expense_create' %}">{% csrf_token %}
    <input type="hidden" name="myself" value="yes" />
    <input name="expense" type="number" placeholder="Enter expense" min="0.01" max="400" step="any" />
    <input type="submit" value="Enter expense" />
</form>

{% else %}
<p>Welcome to the lunchclub! Contact the lunchclub admin to get a login.</p>
{% endif %}

{% if user.is_superuser %}
<ul class="nav-group">
<li>Admin pages (only for Django superusers):</li>
<li><a href="{% url 'edit' %}">Edit database</a></li>
<li><a href="{% url 'accesstoken_list' %}">Manage access tokens</a></li>
</ul>
{% endif %}

<div class="balance">
<table>
<thead>
<tr>
<th>Name</th>
<th>Total</th>
{% for month in months %}
<th>{{ month.name }}</th>
{% endfor %}
</tr>
<tr>
<th>Price</th>
<td>{{ total_price|floatformat:2 }}</td>
{% for month in months %}
<td>{{ month.price|floatformat:2 }}</td>
{% endfor %}
</tr>
</thead>
<tbody>
{% for person in persons %}
<th>{{ person.username }}</th>
<td>{{ person.balance|floatformat:2 }}</td>
{% for month in person.months %}
<td>{{ month.balance|floatformat:2 }}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
</div>

<form method="get">{{ search_form.as_p }}<input type="submit" value="Show balance" /></form>
{% endblock %}
